/* Custom CSS overrides */
/*----------------------CSS for Slider -------------------*/
.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
    visibility: hidden ;
}
.title-slide a {
    color: #fff !important;
    text-decoration: none ;
}
.title-slide {
    position: absolute;
    top: 150px  ;
    font-size: 32px;
    background-color: #000000 !important;
    opacity: 0.5;
    width: 31%;
    margin-left: 68px;
    text-align: center;
    padding-top: 10px;
    border-radius: 2px;

}
.slide-view {
    position: absolute;
    top: 252px;
    font-size: 53px;
    background-color: black;
    opacity: 0.8;
    width: 31%;
    margin-left: 68px;
    text-align: center;
}
span.date-display-single {
    color: #fff;
}
.slide-date {
    top: 166px;
    font-size: 39px;
    background-color: #000 !important;
    opacity: 0.5;
    width: 33%;
    margin-left: 59%;
    position: relative;
    text-align: center;
    border-radius: 2px;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
.title-slide a {
    color: #fff;
}
.title-slide {
    position: absolute;
    top: 112px;
    font-size: 24px;
    background-color: black;
    opacity: 0.5;
    width: 31%;
    margin-left: 68px;
}
.slide-view {
    position: absolute;
    top: 180px;
    font-size: 30px;
    background-color: black;
    opacity: 0.8;
    width: 31%;
    margin-left: 68px;
    text-align: center;
}
span.date-display-single {
    color: #fff;
}
.slide-date {
    top: 166px;
    font-size: 24px;
    background-color: #000;
    opacity: 0.5;
    width: 33%;
    margin-left: 59%;
    position: relative;
} }
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom:0;
    text-align: center;
    z-index: 2;
    color: #fff;
}
.flex-pauseplay a:before {visibility: hidden;}
/********************** Generic classes ************************/
.up {
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 15px;
    color: #a4a4a4;
    text-align: center;
}
.views-exposed-form {
    color: #7d7d7d;
    text-align: center;
}
.item-list ul li a {color:#7d7d7d; }
.item-list ul li a:hover{color:#a4a4a4; text-decoration: none;}
.item-list ul li {list-style: none;line-height: 2em;}

.sidebar .more-link a, .block-views .more-link a {
    font-size: 17px;
    color: #666666;
    text-decoration: none;}
#testimonial{margin-top:3%;margin-bottom:1%;text-align: center; color:#666666;}
#testimonial .up {border-bottom: 1px solid #fff; font-size: 48px; color:#000}
#testimonial a.flex-next ,#testimonial a.flex-prev {visibility: hidden;}
#testimonial .flex-control-nav {
    width: 100%;
    position: absolute;

    text-align: center;
    z-index: 2;
    color: #fff;
}
.fa-margin{margin:10px}
/*.title-slide
{
    position: absolute;
    top: 92px;
    font-size: 39px;
    background-color: aliceblue;
    opacity: 0.5;
    width: 31%;
    margin-left: 68px;
}
/********************************************

.slide-view
{

    position: absolute;
    top: 272px;
    font-size: 53px;
    background-color: black;
    opacity: 0.7;
    width: 31%;
    margin-left: 68px;

}

.title-slide a
{
    color: black;
}


    .slide-date
    {
    top: 92px;
    font-size: 39px;
    background-color: gainsboro;
    opacity: 0.5;
    width: 31%;
    margin-left: 61%;
    position: relative;
    }
*/
    *--services--*/
.service-top h1 {
  font-size: 3em;
  font-family: 'Scada-Bold';
  color: #1B3E5C;
}
.service-top h5 {
  font-size: 1.15em;
  text-transform: uppercase;
  color: #000;
  margin: 0.85em 0;
  line-height: 1.7em;
}
.service-top p {
  font-size: 1em;
  color: #B4B2B2;
  line-height: 1.9em;
}
.top-services h5{
    font-size: 1.15em;
  text-transform: uppercase;
  color: #1B3E5C;
  margin: 0.85em 0;
  line-height: 1.7em;
}
.top-services h5 span{
    color:#000;
      display: block;
}
.top-services p {
  font-size: 1em;
  color: #B4B2B2;
  line-height: 1.9em;
}
.services {
  /*padding-top: 4em;*/
}
.service-top-in {
  padding: 1em 0 0;
}
.service-top {
  padding: 0 15px;
}

 /*Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 667px) {
    .title-slide a ,span.date-display-single{
    color: #fff;
}
.slide-view {
    position: absolute;
    top: 93px;
    font-size: 12px;
    background-color: black;
    opacity: 0.8;
    width: 31%;
    margin-left: 68px;
    text-align: center;
}
.title-slide {
    position: absolute;
    top: 42px;
    font-size: 12px;
    background-color: #020202;
    opacity: 0.5;
    width: 31%;
    margin-left: 68px;
}
.slide-date {
    top: 92px;
    font-size: 12px;
    background-color: black;
    opacity: 0.5;
    width: 33%;
    margin-left: 59%;
    position: relative;
}
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.title-slide
{
  font-size: 11px;
}
.slide-view
{
  top: 105px;
}

 .slide-date
 {
  font-size: 19px;
 }


}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
.view-featured-slider{
    margin-bottom: -100px;
}
#edit-field-venue-tid-wrapper{
    max-width:440px !important;
    width: 40% !important;
}

#block-views-exp-taxonomy-term-page{
    background-color:#ccc !important;
    padding:3px 5px 10px 22px !important;
    border-radius: 2px !important;
}
#edit-field-course-title-value, #edit-field-venue-tid, #edit-field-dates-value-value-year, #edit-field-dates-value-value-month{
    background: white !important;
}
.myfonticons{
    padding:10px;
    font-size:100px;
    border-radius: 2px;
    text-align: center;
}
.mycontainer{
    float: left;
    width: 100%;
    clear: both;
    text-align: center;
    padding: 20px;
}

.my-top-services{
    float: left;
    width:18%;
    padding: 5px;
    margin-right: 15px;
}

.fonticons{
    float: left;
    text-align: center;
    clear: both;
    width:100%;
}
.fonticons-text{
    float: left;
    text-align: center;
    clear: both;
    width:100%;
    font-size: 18px;
}
#service_list{
    float: left;
    margin: 0px 20px;
    width: 100%;
}
